# <p><center style="background: linear-gradient(to right, red, yellow);-webkit-background-clip: text; color: transparent;font-family: Gabriola;color: navy;font-size: 210%;text-align: center;border-radius: 10px 70px">   Temperature measurement with iot sensors </center></p>

<div style = 'border : 3px solid non; background-color:#F0FFFF ; ;padding:10px'>

<a class="anchor" id="about_dataset"></a>

<p style="font-family:Georgia;padding:20px;line-height:25px;";><font style="font-family:Georgia; font-size:210%;"> 汨≫昨泓ｨAbout Dataset </font><br>
    
* **1. What is the dataset about?**
   <br>
    
  - This data is related to ingland weather information, which includes the date of registration and weather conditions based on cloud cover and type of rainfall, temperature, wind speed, pressure and humidity.

<table align="left" rules="all"  style="width: 80%;font-family:Georgia;">

  <thead>
    <tr style="background: linear-gradient(to right, red, yellow);-webkit-background-clip: text; color: transparent;border: 3px solid black;">
      <th style="width:35%; text-align:center; font-weight: bold;color:#000080; font-size: 18px;">Variable Name</th>
      <th style="text-align:center; font-weight: bold;color:#000080; font-size: 18px;">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr style="background-color: white;border: 1px solid black;border-color:grey ">
      <td style="text-align:left; font-size: 16px;color:#000080">Formatted Date</td>
      <td style="text-align:left; font-size: 16px;color:#000080"> Date and time of information recorded</td>
    </tr >
    <tr style="background-color: white;border: 1px solid black;border-color:grey">
      <td style="text-align:left;font-size: 16px;color:#000080" >Summary</td>
      <td style="text-align:left;font-size: 16px;color:#000080">The state of the sky in terms of cloud cover</td>
    </tr>
    <tr style="background-color: white;border: 1px solid black;border-color:grey">
      <td style="text-align:left; font-size: 16px;color:#000080 ">Precip Type</td>
      <td style="text-align:left;font-size: 16px;color:#000080">Type of precipitation  </td>
    </tr>
    <tr style="background-color: white;border: 1px solid black;border-color:grey">
      <td style="text-align:left;font-size: 16px;color:#000080 ">Temperature (C)</td>
      <td style="text-align:left;font-size: 16px;color:#000080">Temperature</td>
    </tr>
    <tr style="background-color: white;border: 1px solid black;border-color:grey">
      <td style="text-align:left;font-size: 16px;color:#000080">Wind Speed (km/h)</td>
      <td style="text-align:left;font-size: 16px;color:#000080">Wind speed</td>
    </tr>
    <tr style="background-color: white;border: 1px solid black;border-color:grey">
      <td style="text-align:left;font-size: 16px;color:#000080 ">Pressure (millibars)</td>
      <td style="text-align:left;font-size: 16px;color:#000080">Air pressure in kilopascals</td>
    </tr>
    <tr style="background-color: white;border: 1px solid black;border-color:grey">
      <td style="text-align:left;font-size: 16px;color:#000080 ">Humidity</td>
      <td style="text-align:left;font-size: 16px;color:#000080" >Air humidity</td>
    </tr>
   
  </tbody>
</table>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
import plotly.express as px

In [ ]:
import warnings
warnings.simplefilter(action='ignore')

In [ ]:
data=pd.read_csv('IOT-temp.csv')

In [ ]:
df=pd.DataFrame(data,columns=['room_id/id', 'noted_date', 'temp', 'out/in'])
df

In [ ]:
date=[]
for i in df['noted_date']:
    number=i.split('-')
    number1=number[2].split(' ')
    dat=f'{int(number[1])}/{int(number[1])}/{int(number1[0])}'
    date.append(dat)

In [ ]:
df5=df.copy()

In [ ]:
df5['date']=date

In [ ]:
df4=pd.DataFrame(df5,columns=['date','temp','out/in'])

In [ ]:
df4

In [ ]:
df.describe()

In [ ]:
df2=df.copy()

In [ ]:
df2['temp']=df2['temp'].astype(str)

In [ ]:
df2.describe()

In [ ]:
df3=df2.dropna()
df3

In [ ]:
df3['temp']=df3['temp'].astype(float).astype(int)

In [ ]:
df8=df.copy()

In [ ]:
#missing value
len(df.index)-df8.count()

In [ ]:
df3['temp'].max()

In [ ]:
df3['temp'].min()

In [ ]:
df3['temp'].mean()

```
汳｡ Result

- We have about 97606 data

-  12-09-2018 03:09 at this time and date we recorded the most data.

-  Temperature 39 degrees, we have 10203 data

- The highest recorded temperature is 51 degrees on 30-09-2018 17:29 and 30-09-2018 17:13. The lowest temperature is 21 degrees on 03-12-2018 11:02.

- 77261 data have been recorded in the out sensor

- The lowest temperature is 21 degrees and the highest temperature is 51 degrees
```

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:120%;text-align:left;border-radius:10px ; padding:10px;"> 沍 Measurement based on plot </p>

In [ ]:
df3['out/in'].value_counts()

In [ ]:
df3[df3['temp']==(df3['temp'].max())]['noted_date']

In [ ]:
df3[df3['temp']==(df3['temp'].min())]['noted_date']

In [ ]:
df3[df3['temp']==(int(df3['temp'].mean()))]['noted_date']

In [ ]:
df3[df3['temp']==25]['noted_date']

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature Histogram  </p>

In [ ]:
sns.histplot(df['temp'], bins= 20, color="blue", kde = True)

plt.title('Temputure Histogram')
plt.show()

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
plt.title('Temperature chart by Output and internal sensors')
plt.scatter(df3['out/in'],df3['temp'])
plt.xlabel('Output and internal sensors')
plt.ylabel('Temperature')
plt.savefig('Temperature chart by Output and internal sensors.png')
plt.show()

In [ ]:
date = df['noted_date'][0]
split_date = date.split('-')
number = split_date[0]

In [ ]:
m=[]
for i in df['noted_date']:
    split_date = i.split('-')
    number = int(split_date[1])
    m.append(number)

In [ ]:
df3['Month']=m

In [ ]:
df3

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
plt.title('Temperature chart by number months')
plt.scatter(df3['Month'],df3['temp'])
plt.xlabel('Number Months')
plt.ylabel('Temperature')
# plt.savefig('Temperature chart by months comlete in.png')
plt.show()

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
month = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
]

In [ ]:
months=[]
for i in m:
    months.append(month[i-1])

In [ ]:
df3['name_months']=months

In [ ]:
plt.title('Temperature chart by months')
plt.scatter(df3['name_months'],df3['temp'])
plt.xlabel('Months')
plt.ylabel('Temperature')
plt.savefig('Temperature chart by months comlete in.png')
plt.show()

In [ ]:
df3[df3['out/in']=='In']['temp'].value_counts().plot.pie(autopct='%1.1f%%')
plt.title('Natural Demand Distribution by School')
plt.show()

In [ ]:
df3[df3['out/in']=='Out']['temp'].value_counts().plot.pie(autopct='%1.1f%%')
plt.title('Natural Demand Distribution by School')
plt.show()

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
d=[]
m=[]
y=[]
c=[]
for i in df['noted_date']:
    split_date = i.split('-')
    day = int(split_date[0])
    month = int(split_date[1])
    year = split_date[2].split(' ')
    clock=year[1]
    f=int(year[0])
    c.append(year[1])
    d.append(day)
    m.append(month)
    y.append(f)

In [ ]:
date=[]
for year, month, day in zip(y, m, d):
    formatted_date = f'{day:02d}/{month:02d}/{year:04d}'
    date.append(formatted_date)

In [ ]:
df8=pd.DataFrame(df3,columns=['date','Month','name_months','temp', 'out/in'])

In [ ]:
out=[]
inn=[]
for i in df8['out/in']:
    if i == 'Out':
        out.append(1)
    elif i == 'In':
        out.append(0)
for i in df8['out/in']:
    if i == 'In':
        inn.append(1)
    elif i == 'Out':
        inn.append(0)

In [ ]:
df8['out']=out
df8['in']=inn

In [ ]:
df10=pd.DataFrame(df3,columns=['date','Month','name_months','temp', 'out/in','clock'])

In [ ]:
df10['row_number'] = df10.reset_index().index + 1

In [ ]:
df10['in']=inn
df10['out']=out

In [ ]:
df8['date']=date
df8['clock']=c

In [ ]:
df10['date']=date
df10['clock']=c

In [ ]:
df3['date']=date
df3['clock']=c

In [ ]:
df10['month_code'] = pd.Categorical(df10['name_months'], ordered=True).codes

out_data = df10[df10['out/in'] == 'In']
coefficients = np.polyfit(out_data['month_code'], out_data['temp'], 1)
poly_line = np.poly1d(coefficients)

fig = px.scatter(out_data, x='name_months', y='temp', title='Scatter plot by Months')
fig.update_xaxes(title_text='Months', autorange='reversed')
fig.update_yaxes(title_text='Temperature')


fig.add_scatter(x=out_data['name_months'], y=poly_line(out_data['month_code']), mode='lines', name='Trendline')

fig.show()

In [ ]:

df10['month_code'] = pd.Categorical(df10['name_months'], ordered=True).codes

out_data = df10[df10['out/in'] == 'Out']
coefficients = np.polyfit(out_data['month_code'], out_data['temp'], 1)
poly_line = np.poly1d(coefficients)

fig = px.scatter(out_data, x='name_months', y='temp', title='Scatter plot by Months')
fig.update_xaxes(title_text='Months', autorange='reversed')
fig.update_yaxes(title_text='Temperature')


fig.add_scatter(x=out_data['name_months'], y=poly_line(out_data['month_code']), mode='lines', name='Trendline')

fig.show()

<p style = "font-size:150%; color:#226666">汳｡ Result </p>
<p style = "font-size:100%; color:#226666">笨費ｸ十n    The temperature in the measured output sensor has measured mostly high temperatures and the input sensor has mostly measured low temperatures</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
sns.set_theme(style="ticks")
plt.suptitle('year : 2006')
sns.pairplot(df8, hue='out/in')

<p style = "font-size:150%; color:#226666">汳｡ Result </p>
   
  - <p style = "color:#226666">In the histogram of the month column, we can see that the temperature has been measured in a series of specific months</p>
  - <p style = "color:#226666"> In the histogram of the temperature column, it shows more skew to the left (negative) in the output sensor, that is, high temperatures are more than low temperatures, high temperatures have been sensed more than low temperatures, and the internal sensor has sensed low temperatures because is skewed to the right (positive).</p>
  - <p style = "color:#226666">Low temperatures are measured with the input sensor and high temperatures are measured with the output sensor.</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Heatmap plot  </p>

In [ ]:
# Calculate the correlation matrix, excluding the 'out/in' column
correlation_matrix = df8.drop(['date', 'clock', 'name_months', 'out/in'], axis=1).corr()

sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f')

plt.title('Heatmap of Correlation for Numeric Columns')
plt.show()

<p style = "font-size:150%; color:#226666">汳｡ Result </p>
   
  - <p style = "color:#226666">The input sensor is not correlated with the moon and temperature column</p>
  - <p style = "color:#226666"> The output sensor has a one-to-one correlation with the moon column</p>
  - <p style = "color:#226666">Input and output sensors are not correlated</p>
  - <p style = "color:#226666">The output sensor or temperature column is connected</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Sensor out and in plot  </p>

In [ ]:
sns.lineplot(data=df10, x='clock', y='out')
plt.xticks(rotation=90)
plt.show()

In [ ]:
sns.lineplot(data=df10, x='clock', y='in')

plt.xticks(rotation=0)
plt.show()

<p style = "font-size:150%; color:#226666">汳｡ Result </p>
<p style = "font-size:100%; color:#226666">笨費ｸ十n    From 20:43, 19:11, 5:42, 15:59, 21:50, 10:36, 17:09, 21:05, 5:45, 12:40, and 1:02, a lot of data is output from the sensor. And less data is recorded in the input sensor</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
fig = px.scatter(df10,x='out/in',y='clock')
fig.show()

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
fig = px.scatter(df10, x='clock', y='temp', title='Time Series - Temperature over Time')
fig.update_xaxes(title_text='Clock')
fig.update_yaxes(title_text='Temperature')
fig.show()

<p style = "font-size:150%; color:#226666">汳｡ Result </p>
<p style = "font-size:100%; color:#226666">笨費ｸ十n    No data was recorded between the temperature between 35 and 40 and 20 to 25 degrees, and it is clear that the sensors were disconnected.</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
fig=px.scatter(x=df5['noted_date'],y=df5['temp'])
fig.update_xaxes(title_text='Clock')
fig.update_yaxes(title_text='Temperature')
fig.show()

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
fig = px.scatter(df5, x='noted_date', y='temp', title='Scatter plot with Trendline')
fig.update_xaxes(title_text='Clock')
fig.update_yaxes(title_text='Temperature')


fig.add_trace(px.line(df5, x='noted_date', y='temp').data[0])

fig.show()

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:

fig = px.scatter(df10, x='Month', y='temp',trendline="ols")

fig.show()

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
df5['date'] = pd.to_datetime(df5['date'])

fig = px.scatter(df5, x="date", y="temp", trendline="ols")
fig.show()

<p style = "font-size:150%; color:#226666">汳｡ Result </p>
<p style = "font-size:100%; color:#226666">笨費ｸ十n    From 20:43, 19:11, 5:42, 15:59, 21:50, 10:36, 17:09, 21:05, 5:45, 12:40, and 1:02, a lot of data is output from the sensor. And less data is recorded in the input sensor</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Temperature plot  </p>

In [ ]:
df10['month_code'] = pd.Categorical(df10['name_months'], ordered=True).codes

coefficients = np.polyfit(df10['month_code'], df10['temp'], 1)
poly_line = np.poly1d(coefficients)

fig = px.scatter(df10, x='name_months', y='temp', title='Scatter plot by Months')
fig.update_xaxes(title_text='Months', autorange='reversed')
fig.update_yaxes(title_text='Temperature')

fig.add_scatter(x=df10['name_months'], y=poly_line(df10['month_code']), mode='lines', name='Trendline')

fig.show()


<p style = "font-size:150%; color:#226666">汳｡ Result </p>
<p style = "font-size:100%; color:#226666">笨費ｸ十n    The overall conclusion from the above plots shows that the temperature is increasing in India</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;">  沒 Heatmap plot  </p>

In [ ]:
import calendar

In [ ]:
pivot_table = df10.pivot_table(values='temp', index='Month', columns='date')

month_names = [calendar.month_name[i] for i in range(1, 13)]

In [ ]:
plt.figure(figsize=(20, 15))
heatmap=sns.heatmap(pivot_table, annot=True)
plt.yticks(range(1, 13), month_names)
heatmap.set_yticklabels(month_names, rotation=0)
plt.yticks(range(1, 13), month_names)
plt.xlabel('Month')
plt.ylabel('Year')
plt.title('Heatmap of Temperature based on Year and Month')
plt.show()


<p style = "font-size:150%; color:#226666">汳｡ Result </p>
<p style = "font-size:100%; color:#226666">笨費ｸ十n    In the months of March and April, the weather is hotter, and in January and February, the air temperature is lower</p>

<a class="anchor" id="Separate"></a>


# <p style="background-color:#ffffff;font-family:Gabriola;color:#000080;font-size:100%;text-align:left;border-radius:10px ; padding:10px;"> 汳ｻ Creating Model With use Random Forest Regressor </p>

In [ ]:
import datetime
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()

df10['out/in'] = label_encoder.fit_transform(df10['out/in'])

In [ ]:
df10['date'] = pd.to_datetime(df10['date'], format='%d/%m/%Y')

df10['month'] = df10['date'].dt.month
df10['day'] = df10['date'].dt.day
df10['year'] = df10['date'].dt.year

In [ ]:
df10

In [ ]:
def hours(time):
    hours, minute = map(int, time.split(':'))
    return hours, minute

df10[['hours', 'minutes']] = df10['clock'].apply(hours).apply(pd.Series)

In [ ]:
real_data=df10

In [ ]:
X = real_data[['month','day','year','hours','minutes','out/in']]
y = real_data['temp']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=50)

model = RandomForestRegressor(n_estimators=2,random_state=50)
model.fit(X_train, y_train)


predicted_temps = model.predict(X_test)


mse = mean_squared_error(y_test, predicted_temps)
r2 = r2_score(y_test, predicted_temps)
print("Mean Squared Error:", mse)
print("R-squared Score:", r2)


future_dates = pd.date_range(start=real_data['date'].max() + datetime.timedelta(days=1), periods=30)
future_month = [date.month for date in future_dates]
future_day = [date.day for date in future_dates]
future_year = [date.year for date in future_dates]
future_hours = [date.hour for date in future_dates]
future_minutes = [date.minute for date in future_dates]
future_out_in = [0, 1] * (len(future_dates) // 2)


future_X = pd.DataFrame({'month': future_month, 'day': future_day, 'year': future_year,
                         'hours': future_hours, 'minutes': future_minutes, 'out/in': future_out_in})

In [ ]:
future_predicted_temps = model.predict(future_X)

future_data = pd.DataFrame({'date': future_dates, 'temp': future_predicted_temps})
df10_combined = pd.concat([real_data, future_data])

plt.figure(figsize=(10, 6))
plt.scatter(df10_combined['date'], df10_combined['temp'], color='b', label='Real')
plt.scatter(future_data['date'], future_data['temp'], color='r', label='Predict')
plt.plot(future_data['date'], future_data['temp'], color='g', label='Predicted Line')
plt.title('Temperature forecast for the next 30 days')
plt.xlabel('date')
plt.ylabel('Temperature')
plt.xticks(rotation=45)
plt.tight_layout()
plt.legend()
plt.grid(True)
plt.show()


<p style = "font-size:150%; color:#226666">汳｡ Result </p>
<p style = "font-size:100%; color:#226666">笨費ｸ十n   Excellent! The performance metrics of your model show that it is a good model and fits the real data well. The mean square error (MSE) is 0.36
   and the R-squared score is close to 0.99, which shows the good ability of the model in explaining and predicting temperature. These criteria show that it is a good model and its predictions can be trusted. Due to the approach of the autumn season, the temperature has decreased, but it should be taken into account that these sensors were deactivated in different months or days.</p>

In [ ]:
sns.histplot(predicted_temps, bins= 20, color="blue", kde = True)

plt.title('Predicts Temputure Histogram')
plt.show()


---

## 笨 Summary & Learnings

- Explored and visualized temperature & humidity data
- Applied time series techniques for forecasting
- Demonstrated model prediction for future readings

This notebook serves as a starting point for building real-time sensor monitoring and forecasting systems for IoT applications.